<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
<!--        <Console name="Console" target="SYSTEM_OUT">-->
<!--&lt;!&ndash;            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>&ndash;&gt;-->
<!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>-->
<!--        </Console>-->
        <Console name="Console" target="SYSTEM_OUT">
            <JSONLayout compact="true" eventEol="true" properties="true"/>
<!--            <JsonTemplateLayout eventTemplateUri="webapp/src/main/resources/LogstashJsonEventLayoutV1.json"/>-->
        </Console>
<!--        <appender name="Console" class="org.apache.log4j.ConsoleAppender">-->
<!--            <param name="Threshold" value="TRACE" />-->
<!--            <layout class="net.logstash.log4j.JSONEventLayoutV1" />-->
<!--        </appender>-->
        <File name="File" fileName="webapp/src/main/resources/logs/app.log">
            <JSONLayout compact="true" eventEol="true" properties="true"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>